<a href="https://colab.research.google.com/github/SarahSouzaPontes/Table_DataColor_excel_salva/blob/main/Table_DataColor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [ ]:
import pandas as pd

# Carrega o arquivo Excel
file_path = "contratos.xlsx"
sheet_name = "Sheet"  # Nome da aba da planilha
df = pd.read_excel(file_path, sheet_name=sheet_name)

# Exibe o dataset
print(df)

  Cliente/Empresa       Datas Pagamento/Fatura    Notas
0       Cliente A  2023-08-10      Pagamento A  Notas A
1       Cliente B  2023-08-15      Pagamento B  Notas B

In [ ]:
import pandas as pd

# Carrega o arquivo Excel
file_path = "contratos.xlsx"
sheet_name = "Sheet"  # Nome da aba da planilha
df = pd.read_excel(file_path, sheet_name=sheet_name)

# Exibe o dataset
print(df)

  Cliente/Empresa       Datas Pagamento/Fatura    Notas
0       Cliente A  2023-08-10      Pagamento A  Notas A
1       Cliente B  2023-08-15      Pagamento B  Notas B

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
from IPython.display import display, HTML

# Gera um conjunto de dados de exemplo com 50 linhas
data = []
for _ in range(50):
    data.append([
        f"Cliente {_ + 1}",
        datetime.today().date() + timedelta(days=(_ + 1) * 5),
        f"Pagamento {_ + 1}",
        f"Notas {_ + 1}"
    ])

# Cria um DataFrame com os dados
columns = ["Cliente/Empresa", "Datas", "Pagamento/Fatura", "Notas"]
df = pd.DataFrame(data, columns=columns)

# Converte a coluna "Datas" para o tipo datetime
df['Datas'] = pd.to_datetime(df['Datas']).dt.date

# Obtém a data de hoje
today = datetime.today().date()

# Função para aplicar formatação condicional
def apply_conditional_formatting(date):
    if date == today:
        return 'background-color: #FF0000; color: #000000;'  # Vermelho (hoje)
    elif date < today:
        return 'background-color: #FF0000; color: #000000;'  # Vermelho (data passada)
    elif (date - today).days <= 7:
        return 'background-color: #FFFF00; color: #000000;'  # Amarelo (expiração em breve)
    else:
        return 'background-color: #00FF00; color: #000000;'  # Verde (outras datas)

# Aplica a formatação condicional à coluna "Datas"
df_styled = df.style.applymap(lambda x: apply_conditional_formatting(x), subset=['Datas'])

# Exibe a tabela formatada no Google Colab
display(HTML(df_styled.render()))

<ipython-input-17-4c3eb0b1b7be>:40: FutureWarning: this method is deprecated in favour of `Styler.to_html()`
  display(HTML(df_styled.render()))

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
from IPython.display import display, HTML

# Gera um conjunto de dados de exemplo com 50 linhas
data = []
for _ in range(50):
    data.append([
        f"Cliente {_ + 1}",
        datetime.today().date() + timedelta(days=(_ + 1) * 5),
        f"Pagamento {_ + 1}",
        f"Notas {_ + 1}"
    ])

# Adiciona uma nova linha com a data atual
data.append([
    "Novo Cliente",
    datetime.today().date(),
    "Novo Pagamento",
    "Novas Notas"
])

# Cria um DataFrame com os dados
columns = ["Cliente/Empresa", "Datas", "Pagamento/Fatura", "Notas"]
df = pd.DataFrame(data, columns=columns)

# Converte a coluna "Datas" para o tipo datetime
df['Datas'] = pd.to_datetime(df['Datas']).dt.date

# Obtém a data de hoje
today = datetime.today().date()

# Função para aplicar formatação condicional
def apply_conditional_formatting(date):
    if date == today:
        return 'background-color: #FF0000; color: #000000;'  # Vermelho (hoje)
    elif date < today:
        return 'background-color: #FF0000; color: #000000;'  # Vermelho (data passada)
    elif (date - today).days <= 7:
        return 'background-color: #FFFF00; color: #000000;'  # Amarelo (expiração em breve)
    else:
        return 'background-color: #00FF00; color: #000000;'  # Verde (outras datas)

# Aplica a formatação condicional à coluna "Datas"
df_styled = df.style.applymap(lambda x: apply_conditional_formatting(x), subset=['Datas'])

# Exibe a tabela formatada no Google Colab
display(HTML(df_styled.render()))

<ipython-input-18-490b4cb72947>:48: FutureWarning: this method is deprecated in favour of `Styler.to_html()`
  display(HTML(df_styled.render()))

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
from IPython.display import display, HTML

# Gera um conjunto de dados de exemplo com 50 linhas
data = []
for _ in range(50):
    data.append([
        f"Cliente {_ + 1}",
        datetime.today().date() + timedelta(days=(_ + 1) * 5),
        f"Pagamento {_ + 1}",
        f"Notas {_ + 1}"
    ])

# Adiciona uma nova linha com a data atual
data.append([
    "Novo Cliente",
    datetime.today().date(),
    "Novo Pagamento",
    "Novas Notas"
])

# Cria um DataFrame com os dados
columns = ["Cliente/Empresa", "Datas", "Pagamento/Fatura", "Notas"]
df = pd.DataFrame(data, columns=columns)

# Converte a coluna "Datas" para o tipo datetime
df['Datas'] = pd.to_datetime(df['Datas']).dt.date

# Obtém a data de hoje
today = datetime.today().date()

# Função para aplicar formatação condicional
def apply_conditional_formatting(date):
    if date == today:
        return 'background-color: #FF0000; color: #000000;'  # Vermelho (hoje)
    elif date < today:
        return 'background-color: #FF0000; color: #000000;'  # Vermelho (data passada)
    elif (date - today).days <= 7:
        return 'background-color: #FFFF00; color: #000000;'  # Amarelo (expiração em breve)
    else:
        return 'background-color: #00FF00; color: #000000;'  # Verde (outras datas)

# Aplica a formatação condicional à coluna "Datas"
df_styled = df.style.applymap(lambda x: apply_conditional_formatting(x), subset=['Datas'])

# Salva a tabela formatada em um arquivo Excel mantendo a formatação
file_path = "tabela_formatada.xlsx"
with pd.ExcelWriter(file_path, engine='xlsxwriter') as writer:
    df_styled.to_excel(writer, index=False, sheet_name='Sheet1')

# Exibe a mensagem de sucesso
print(f"Tabela formatada salva em {file_path}")

Tabela formatada salva em tabela_formatada.xlsx